html {
    height: 100%;
}
body {
    background: #2d3035 !important;
    color: white !important;
    margin: 0 !important;
    font-family: 'Muli', sans-serif !important;
    height: '100%' !important;
}

a.redLink {
    color: #ff3f3f !important;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

::selection {
    background: #ff8080;
    text-shadow: none;
}